<p>vengo del componente listado listado works!</p>
<ol>
  <li *ngFor="let item of paciente">
    El nombre del paciente es {{ item.name }} y su edad es {{ item.age }}
  </li>
</ol>
<h4>Agregar Personajes</h4>
  <form action="" class="row" (ngSubmit)="agregarPaciente()" >

    <input
    type="text"
    name="name"
[(ngModel)]="addPaciente.name"
    class="form-control"
    placeholder="Nombre">

    <input type="number"
     class="form-control"
[(ngModel)]="addPaciente.power"
     name="power"
      placeholder="Poder">

    <button type="submit"   class="btn btn-primary mt-2" >Agregar</button>

  </form>
<pre>{{addPaciente | json}}</pre>
